<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>interface page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_two.css') }}">
    <script src="../static/js/index.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar sticky-top navbar-light" id="mainnavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h4 id="InitialHeading">Hi {{ session["username"] }} ! Hope you have a safe day of trading!</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon iconnavbar"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Your Details</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-l 3
                        label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <hr>
                    <li class="nav-item">
                        <p>Number of Pending transactions: {{ data|length }} </p>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <p>Current Membership : {{ membership_type }} </p>
                    </li>
                    <hr>
                    <h4>Choose your commision type</h4>
                    <button class="btn btn-outline-dark" onclick="updateCommission('fiat')">Fiat Currency</button>
                    <button class="btn btn-outline-dark" onclick="updateCommission('bitcoin')">Bitcoin</button>
                    <hr>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#managemoney">Manage Fiat Money</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#managebitcoin">Manage Bitcoin</button>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
            <div class="col-md-4">
                <h3>Sell your Bitcoin to other traders! <br><br> Click the button below to let people know you mean
                    business ! <br><br></h3>
                <hr>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                        data-bs-target="#sellModal">Sell!</button>
            </div>
            <div class="col-md-8">
                <h3>Your Pending Transactions</h3>
                <hr>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ClientId</th>
                        <th scope="col">TransactionId</th>
                        <th scope="col">Transaction Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Commission Paid</th>
                        <th scope="col">Commission Type</th>
                        <th scope="col">RecipientId</th>
                        <th scope="col">BitCoinAmt</th>
                        <th scope="col">Status</th>
                        <th scope="col">CommissionRateType</th>
                        <th scope="col">Trader</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data %}
                    <tr id="{{ d[0] }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ d[0] }}</td>
                        <td>{{ d[1] }}</td>
                        <td>{{ d[2] }}</td>
                        <td>{{ d[3] }}</td>
                        <td>{{ d[4] }}</td>
                        <td>{{ d[5] }}</td>
                        <td>{{ d[6] }}</td>
                        <td>{{ d[7] }}</td>
                        <td>{{ d[8] }}</td>
                        <td>{{ d[9] }}</td>
                        <td>{{ d[10] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/bitcoin.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Buy Bitcoin from the Ether!</h5>
                        <p class="card-text">Want to stock up on the bitcoin out there ? Now you can!</p>
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#buyether">Buy!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Buy Bitcoin from Fellow Traders!</h3>
                <ul class="list-group list-group-flush">
                    {% for d in pending_transaction %}
                    <li class="list-group-item">
                        <button type="button" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#{{d[0]}}">{{ d[0] }} | {{ d[1] }} </button>
                        <!-- Modal 1 -->
                        <div class="modal fade" id="{{d[0]}}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" >{{ d[0] }} wants to sell {{ d[1] }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                            <button type="button" class="btn btn-primary" onclick="get_bitcoin_rate()">Current Bitcoin rate</button></li>
                                            <li class="list-group-item">Total Fiat Currency : {{ acc_details[1] }}</li>
                                            <li class="list-group-item">Total $ value for bitcoin : {{ bitcoin_rate * acc_details[1] }}</li>
                                        </ul>
                                        <hr>
                                        <div class="mb-3">
                                            <label for="buy_bitcoin_value{{d[0]}}" class="form-label">Number of bitcoins you want to buy</label>
                                            <input type="text" class="form-control" id="buy_bitcoin_value{{d[0]}}" >
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" onclick=buy_bitcoin(`{{session['id']}}`,`{{membership_type}}`,`{{d[2]}}`,`{{d[1]}}`,`{{d[0]}}`)>Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>

    <!-- Modal 2 -->
    <div class="modal fade" id="sellModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Let the users know how much you are willing to sell!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <button type="button" class="btn btn-primary" onclick="get_bitcoin_rate()">Current Bitcoin rate</button></li>
                        <li class="list-group-item">Total Fiat Currency : {{ acc_details[1] }}</li>
                        <li class="list-group-item" id="bitcoin_units_owned">Total Bitcoin Units : {{ bitcoin_unit }}</li>
                    </ul>
                    <hr>
                    <div class="mb-3">
                        <label for="sell_bitcoin_value" class="form-label">Enter the bitcoin amount to sell</label>
                        <input type="text" class="form-control" id="sell_bitcoin_value" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick=sell_bitcoin(`{{session['id']}}`,`{{membership_type}}`)>Submit</button>
                </div>
            </div>
        </div>
    </div>

<!-- Buy ether Modal-->
    <div class="modal fade" id="buyether" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Buy from Ether!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <button type="button" class="btn btn-primary" onclick="get_bitcoin_rate()">Current Bitcoin rate</button></li>
                        <li class="list-group-item">Total Fiat Currency : {{ acc_details[1] }}</li>
                        <li class="list-group-item" id="bitcoin_units_owned_ether_modal">Total Bitcoin Units : {{ bitcoin_unit }}</li>
                    </ul>
                    <hr>
                    <div class="mb-3">
                        <label for="sell_bitcoin_value" class="form-label">Enter the bitcoin amount to buy</label>
                        <input type="text" class="form-control" id="buy_bitcoin_ether" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick=buy_ether(`{{acc_details[1]}}`,`{{bitcoin_unit}}`)>Submit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Manage money Modal -->
    <div class="modal fade" id="managemoney" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="list-group-item">Manage your accouts fiat money!
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <button type="button" class="btn btn-primary" onclick="get_bitcoin_rate()">Current Bitcoin rate</button></li>
                        <li class="list-group-item">Total Fiat Currency : {{ acc_details[1] }}</li>
                    </ul>
                    <br>
                    <hr>
                    <div class="input-group mb-3">
                        <input type="text" id="amt_move" class="form-control" placeholder="Enter amount you want to move">
                        <input type="radio" id="credit_radio" name="radios" checked>
                        <label form="myForm" for="credit_radio">Credit</label>

                        <input type="radio" id="debit_radio" name="radios">
                        <label form="myForm" for="debit_radio">Debit</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="manage_money(`{{acc_details[1]}}`)">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Manage bitcoin Modal -->
    <div class="modal fade" id="managebitcoin" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="list-group-item">Manage your accouts bticoin!
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <!--                        <li class="list-group-item">Current Bit Coin Rate : {{ bitcoin_rate }}</li>-->
                        <li class="list-group-item">
                            <button type="button" class="btn btn-primary" onclick="get_bitcoin_rate()">Current Bitcoin rate</button></li>
                        <li class="list-group-item">Total Bitcoin : {{ bitcoin_unit }}</li>
                    </ul>
                    <br>
                    <hr>
                    <div class="input-group mb-3">
                        <input type="text" id="bit_move" class="form-control" placeholder="Enter amount you want to move">
                        <input type="radio" id="credit_radio_bit" name="radios" checked>
                        <label form="myForm" for="credit_radio_bit">Credit</label>

                        <input type="radio" id="debit_radio_bit" name="radios">
                        <label form="myForm" for="debit_radio_bit">Debit</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="manage_bitcoin(`{{bitcoin_unit}}`)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>